body {
  background: black;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden; }

h1 {
  color: #949494; }

.telefono {
  color: #949494;
  justify-content: center; }

p {
  color: ivory; }

.titulo {
  text-align: center; }

footer {
  display: flex;
  justify-content: space-around; }

main {
  padding: 20px; }

.fondo_principal {
  width: 100%; }

.copyright {
  text-align: center;
  padding: 20px 0; }

.copyright p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.contenedor__picadas {
  margin: 70px 0; }

.nro_telefono {
  display: none; }

#btn-menu {
  display: none; }

header label {
  display: none; }

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: black; }

header {
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0px;
  display: table;
  z-index: 1; }

.menu ul {
  color: #949494;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; }

.menu li img {
  display: flex;
  justify-content: left; }

.menu li a {
  color: white;
  display: block;
  padding: 15px 20px;
  text-decoration: none; }

a {
  text-decoration: none; }

.menu li a:hover {
  background-color: rgba(0, 0, 0, 0.3); }

th, td {
  padding: 15px; }

td img {
  border-radius: 10px; }

td img :hover {
  border-radius: 10px;
  transform: scale(5, 1); }

table, th, td {
  border: 1px solid black;
  color: #949494;
  background-color: black; }

.tienda-real-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 5%;
  grid-gap: 30px; }

.tienda-real-grid img {
  width: 100%;
  transition: all 300ms;
  position: relative; }

.tienda-real-grid img:hover {
  transform: scale(1.15); }

/* PICADAS */
.picada {
  border-radius: 15px;
  display: flex;
  padding: 20px;
  align-items: center;
  position: relative;
  margin-bottom: 100px; }

.picada__img {
  width: 40%;
  margin-right: 20px;
  border-radius: 10px;
  display: inline-block; }

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background-color: #7ba771;
  color: white;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #7ba771; }

.boton:hover {
  text-decoration: none;
  background: #437837;
  color: white; }

.boton--absolute {
  position: absolute;
  right: 20px;
  bottom: -25px; }

.boton__texto {
  font-weight: 600; }

.finalizar {
  text-align: center;
  margin: 70px 0; }

.boton--violeta {
  background: mediumpurple; }

.boton--violeta:hover {
  background: #5a4585; }

/* SANDWICHES */
.contenedor__sandwiches {
  margin: 70px 0; }

.sandwiches {
  border-radius: 15px;
  display: flex;
  padding: 20px;
  align-items: center;
  position: relative;
  margin-bottom: 100px; }

.sandwiches__img {
  width: 40%;
  margin-right: 20px;
  border-radius: 10px;
  display: inline-block; }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px; }
  .menu {
    position: absolute;
    background-color: black;
    width: 70%;
    margin-left: -70%;
    transition: all 0.3s; }
  .menu ul {
    flex-direction: column; }
  .menu li {
    border-top: 1px solid #fff; }
  header label:hover {
    display: block;
    cursor: pointer; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  textarea {
    width: 100%; }
  .sucursal {
    max-width: 960px;
    border: 2px solid red; }
  .sucursal__mapa {
    display: none; }
  .sucursal__mapa__link {
    display: inline-block; }
  .picada {
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 100px; }
  .picada__img {
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
    display: inline-block; } }

.sucursal {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px; }

i {
  color: white; }

.sucursal__mapa {
  width: 100%; }

.sucursal__mapa__link {
  display: none; }

.quienes_somos {
  padding: 20px;
  margin: 0px;
  border: 50px solid black;
  text-align: center; }

h3 {
  color: #949494;
  text-align: center; }

h4 {
  color: #949494;
  text-align: center; }

.imagen_mobil {
  display: none; }

.carousel {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px; }

.envios {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px; }

.envios__precios--verde {
  color: #146b14; }

.app {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px; }

form {
  padding: 20px;
  margin: 0px;
  border: 50px solid black;
  background-color: black;
  text-align: center;
  color: #949494; }

@media only screen and (max-width: 400px) {
  header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px; }
  .menu {
    position: absolute;
    background-color: black;
    width: 70%;
    margin-left: -70%;
    transition: all 0.3s; }
  .menu ul {
    flex-direction: column; }
  .menu li {
    border-top: 1px solid #fff; }
  header label:hover {
    display: block;
    cursor: pointer; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  footer {
    display: flex;
    flex-direction: column; }
  textarea {
    width: 100%; }
  .tienda-real-grid {
    display: inline; }
  .titulo {
    display: none; }
  .sucursal {
    max-width: 300px;
    border: 2px; }
  .sucursal__mapa {
    display: none; }
  .app {
    display: none; }
  .nro_telefono {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: inline-block;
    text-align: center; }
  .telefono {
    display: none; }
  .sucursal__mapa__link {
    display: inline-block; }
  .picada {
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 100px; }
  .picada__img {
    width: 40%;
    margin-right: 20px;
    border-radius: 10px;
    display: inline-block; } }

.error404 {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px; }
