.envios{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  .envios__precios--verde {
    color: rgb(20, 107, 20)
  }
  .app {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }