.sucursal {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
i {
  color: white;
}
.sucursal__mapa{
  width: 100%;
}
.sucursal__mapa__link{
  display: none;
}